<div>
    <div class="container">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter the city</mat-label>
            <input matInput placeholder="Ex. Faridpur, IN" value="" #cityname>
        </mat-form-field>
        <button (click)="inputcity(cityname.value)" mat-raised-button color="warn">Search</button>
        <p *ngIf="isShown">{{error}}</p>
        <p class="para1">Weather in {{this.data?.name}}, {{this.data?.sys.country}}</p>
        <img src={{this.img}} alt="image">
        <p class="temp">{{this.data?.main.temp}}°C</p>
        <p class="des">{{this.des?.description}}</p>
        <p class="upcomingtime">Upcoming 7 Days</p>
        <div class="hrsdata">
            <table class="hrsdata_day">
                <tr> 
                    <td *ngFor="let item of daily; index as i">
                        <p class="upcomingtime">{{nextDays(i)}}</p>
                        <div *ngFor="let icons of item.weather">
                            <img src="https://openweathermap.org/img/wn/{{icons.icon}}.png" alt="">
                        </div>
                        <p class="upcomingtime">{{item.weather[0].description}}</p>
                        <p class="upcomingtemp">{{item.temp.max}}°/{{item.temp.min}}°</p>
                    </td>
                </tr>
            </table>
        </div>
        <p class="upcomingtime">Upcoming 48 hours</p>
        <div class="upcomingweather">
        <table  class="hrsdatacoming">
                <tr *ngFor="let item of hourly; let i = index" [attr.data-index]="i">
                    <td class="upcomingtime">{{getTime(i)}}:00</td>
                    <td class="upcomingtime">{{day}}</td>
                    <td *ngFor="let icons of item.weather">
                        <img src="https://openweathermap.org/img/wn/{{icons.icon}}.png" alt="">
                    </td>
                    <td class="upcomingtime">{{item.weather[0].description}}</td>
                    <td class="upcomingtemp">{{item.temp}}°C</td>
                </tr>
        </table>
        </div>
    </div>
</div>
<footer>
    Made By Abhay Sharma ©
</footer>