.container{
    text-align: center;
    margin: auto;
    width: fit-content;
}
button{
    margin-left: 20px;
}
.para1{
    font-size: 25px;
}
.temp{
    font-size: 20px;
}
.des{
    font-size: 20px;
    text-transform: capitalize;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    display: inline-block;
    padding: 2px;
    margin-left: -8px;
}

.hrsdata{
    width: 50vw;
    background-color: #ff000000;
    overflow-x: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fcfcfc;
    border-radius: 5px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f44336;
    border-radius: 5px;
}

table{
    border-radius: 5px;
}

td{
    padding: 20px;
    border-radius: 5px;
}