<div>
    <div class="main-body">
        <div class="main-heading" [@letterMove]="isStart ? 'center' : 'gone'">
            <p class="primary-heading" id="welcome">Welcome To</p>
            <p class="primary-heading" id="weather">The Weather App</p>
        </div>
        <!-- [@letterMove] = "isStart ? 'center' : 'top'" -->
        <div id="loading-line" [@letterMove]="isStart ? 'center' : 'gone'"></div>
    </div>
    <div *ngIf = 'loadFinish' class="main-app-screen">
        <p id="logo-text">Weather App</p>
    </div>
</div>
