/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
body{
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  background-color: #0000001f;
  /* min-width: fit-content; */
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
   /* min-width: fit-content; */
}